// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #70ceea; // Thats a sample how you could change a BootStrap variable.
$dark: #1d475c;
$light: #d1eff8;
$secondary: #f5a1b6;

$heading-color: $dark;
$body-color: $dark;