#footer {
    background: $dark;
    background-size:cover;
    font-size: 0.875em;
    padding: 100px 0;

    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);

    .row {
      margin-bottom: 30px;
    }

    .col-* {
      margin-bottom: 30px;
    }

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
        margin-bottom: 0;
    }

    a, a:visited {
        color: #fff;
        text-decoration: underline;
        opacity: 1;
        transition: 0.2s;
    }
    a:hover, a:active {
        opacity: 0.6;
    }
}

#pre-footer{
    background:$light;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin-bottom:-60px;

}

.footer__logo {
  width: 150px;
}
