#footer {
  background: $dark;
  background-size: cover;
  font-size: 0.875em;
  padding: 100px 0px 50px 0px;

  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);

  .row {
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
      .col-sm-2,
      .col-sm-4,
      .col-sm-6 {
        margin-bottom: 2rem;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
    margin-bottom: 0;
  }

  a,
  a:visited {
    color: #fff;
    text-decoration: underline;
    opacity: 1;
    transition: 0.2s;
  }
  a:hover,
  a:active {
    opacity: 0.6;
  }

  .footer__list {
    color: $white;
    li {
      line-height: 1.8rem !important;
      span {
        margin-right: 10px;
        svg {
          font-size: 1.2rem;
        }
      }
    }
  }
}

#pre-footer {
  background: $light;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  margin-bottom: -20px;

  .btn {
    color: $white;
  }

  .pre-footer {
    &__text {
      color: $dark;
      font-weight: 400;
      margin-bottom: 0px;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }
}
.footer__logo {
  width: 150px;
}
